---
interface Props {
  title: string;
  coverUrl: string;
  aspectRatio: number;
  blurhash: string;
  href: string;
  width?: number;
  target?: string;
}

const { title, coverUrl, aspectRatio, blurhash, href, width = 120, target } = Astro.props;
const height = Math.round(width / aspectRatio);
---

<a href={href} target={target}>
  <div
    class="relative rounded-sm border border-solid border-neutral-800 overflow-hidden"
    style={`width: ${width}px; height: ${height}px;`}
  >
    <img
      alt={title}
      src={coverUrl}
      width={width}
      height={height}
      style={`background-image: url(${blurhash}); background-size: cover; object-fit: cover; width: 100%; height: 100%;`}
      loading="lazy"
    />
  </div>
</a>
